.navbar {

    background-color: rgb(52, 170, 22);
}

.navbar .navbar-brand {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0%;
}

.search input {
    width: 550px;
    height: 50px;
    border-radius: 50px;
}

.sign {
    margin-left: 100px;
}

.search button {
    color: white;
    border-radius: 1000px;
    background-color: green;
    border: black 1px solid;
    border-radius: 80%;
    height: 50px;
    width: 60px;
    font-size: 15px;
    margin-left: 20px;
    padding-left: 9px;
}


.nav-item {
    margin-left: 12px;
    ;
}

.nav-item {
    color: white;
}

img {
    height: 500px;
}

.carousel-item .navbtn {
    color: black;
    background-color: rgb(19, 174, 185);
    border-color: black;
}

.computer {
    display: inline-flex;
}

.card {
    height: 380px;
    width: 300px;

    margin-top: 10px;
    border: rgb(12, 2, 22) 2px solid;

}

.card:hover {
    transform: translate(-20px, -20px);
    border: rgb(21, 96, 28) 4px solid;
}

.card a {
    color: rgb(8, 0, 255);
}

.med {
    height: 200px;
    width: 1160px;
    margin-top: 30px;

    border: solid 2px rgb(249, 241, 241);
}

.med img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.elec {
    height: 200px;
    width: 1160px;

    margin-top: 100px;


    border: solid 2px rgb(249, 241, 241);
}

.elec img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.book {
    height: 200px;
    width: 1160px;

    margin-top: 100px;

    border: solid 2px rgb(249, 241, 241);
}

.book img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.card2 {
    height: 400px;
    width: 400px;

    margin-top: 30px;
    padding: 5px;
    margin-bottom: 20px;
}





.oo {
    display: flex;
    border-color: black;
}

.card2 img {
    height: 200px;
    width: 250px;
    margin: 10px;
}

.adv {
   
    height: 500px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
}

.covid {
    height: 350px;
    width: 500px;
    background-color: rgb(208, 41, 41);
    margin-left: 10px;
}

.immu {
    height: 350px;
    width: 500px;
    background-color: rgb(208, 41, 41);
    margin-left: 20px;
    margin-left: 50px;
}


.health {
    width: 100%;

    height: 550px;
    display: flex;
    margin-top: 5px;


}



.health  img {
    height: 250px;
    width: 500px;

}

.health h3 {
    color: rgb(255, 255, 255)
}

.adv .mhead {
    color: rgb(252, 250, 250);
    padding-left: 100px;
    padding-bottom: 50px;
    
}

.health button {
    font-size: 20px;
    color: rgb(9, 63, 134);
    border: rgb(106, 148, 23) 4px solid;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 5px 10px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(111, 13, 13);
    text-align:center;
}

.foot {
    display: inline-flex;
    margin-left: 30px;
    margin-top: 10px;
}

.foot img {
    height: 80px;
    width: 150px;
    ;
}